[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psychopg2-binary = "*"
django = "*"
coverage = "*"
django-registration = "*"
pillow = "*"
djangorestframework = "*"
django-cors-headers = "*"

[requires]
python_version = "3.6"
