{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8"/>
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower|Permanent+Marker|Montserrat|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="{% static "css/reset.css" %}">
  <link rel="stylesheet" href="{% static "css/layout.css" %}">
  <link rel="stylesheet" href="{% static "css/module.css" %}">

  <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet">
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.14.min.css" type="text/css">

  <title>{% block title %}{% endblock %} Raspberry Garden</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url "home" %}">Home</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url "weekly" %}">Weekly</a></li>
        <li><a href="{% url "monthly" %}">Monthly</a></li>
        <li><a href="{% url "logout" %}">Logout</a></li>
        {% else %}
        <li><a href="{% url "login" %}">Signin</a></li>
        <li><a href="{% url "django_registration_register" %}">Signup</a></li>
        {% endif %}
        {% if user.is_superuser %}
        <li><a href="{% url "admin:index" %}">Admin</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    <div class='welcome'>
      {% if user.is_authenticated %}
      <div class='welcome-center'>
        <img src="{% static "assets/garden.png" %}" alt="icon" width="30" height="30">
        <h2>Welcome to Raspberry Garden, {{ user.username }}!</h2>
      </div>
      {% else %}
      <h2>This is Raspberry Garden! Please sign up or log in.</h2>
      {% endif %}
    </div>
    <div class='block'>
      {% block content %}
      <h2>No Content</h2>
      {% endblock content%}
    </div>
  </main>
  <footer><h6>©2019PiRate</h6></footer>
</body>
</html>
