{% extends 'generic/base.html' %}

{% block title %}Weekly{% endblock %}

{% block content %}

<h3>Weekly Trend</h3>
<div>

  <table>
    <tr>
      <th> </th>
      <th> Sunday </th>
      <th> Monday </th>
      <th> Tuesday </th>
      <th> Wednesday </th>
      <th> Thursday </th>
      <th> Friday </th>
      <th> Saturday </th>
    </tr>
    <tr>
      <th> Temperature </th>
      <th> data </th>
      <th> data </th>
      <th> data </th>
      <th> data </th>
      <th> data </th>
      <th> data </th>
      <th> data </th>
    </tr>
    <tr>
      <th> Water Level </th>
      <th> data </th>
      <th> data </th>
      <th> data </th>
      <th> data </th>
      <th> data </th>
      <th> data </th>
      <th> data </th>
    </tr>
  </table>
</div>


<div>
  <h3>Photo: </h3>
  <p> here is the photo</p>
</div>










{% endblock content %}
