/* Mobile-view first */

body{
    /* background-color: pink; */
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    /* CSS Grid: */
    display: grid;
    grid-template-rows: 50px;
}

main{
    border-style: outset;
    border-width: 4px;
    border-radius: 10px;
}

/* Top nav bar */
nav{
    overflow: hidden;
}

nav li{
    float: right;
    color: #f2f2f2;
    padding: 13px 13px 0px 10px;
    font-size: 15px;
    font-family: 'Indie Flower', cursive;
}

nav li:hover{
    background-color: #ddd;
    padding: 4px 4px 4px 4px;
    font-size: 17px;
    border-radius: 5px;
}

/* Grid: Header (i.e. Nav) */
header{
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(221, 221, 157);
    border-style: outset;
    border-width: 4px;
    border-radius: 10px;
}

.welcome{
    background-color: rgb(131, 163, 131);
    border-bottom: solid white 1px;
}

.welcome img{
    display: inline-block;
    padding-left: 10px;
    padding-right: 5px;
}

.welcome h2{
    display: inline-block;
}

.welcome-center{
    width: 390px;
    margin-left: auto;
    margin-right: auto;
}

/* Welcome Msg: */
h2{
    /* text-align: center; */
    padding: 20px 0px 30px 0px;
    font-family: 'Permanent Marker', cursive;
    font-size: 18px;
}

/* Weely Trend: */
h3{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    vertical-align: middle;
}

/* Current Reading: */
h4{
    font-family: 'Indie Flower', cursive;
    padding-top: 12px;
}

h5{
    font-family: 'Indie Flower', cursive;
    padding-top: 20px;
    padding-bottom: 20px;
}

h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

p{
    font-family: 'Montserrat', sans-serif;
    padding-top: 12px;
}

li, input{
    font-family: 'Montserrat', sans-serif;
    padding-top: 12px;
}

table{
    border: 1px solid black;
}

th, td{
    border: 1px solid black;
    width: 120px;
    height: 25px;
    vertical-align: middle;
}

.current-reading{
    height: 400px;
    padding: 35% 0px 0px 30%;
    background-color: rgb(235, 236, 173);
}

.current-reading h4{
    font-size: 18px;
}

.weekly{
    display: grid;
    grid-template-rows: 120px 450px;
    background-color: rgb(219, 240, 203);
    padding: 0 13px 0 13px;
}

.weekly-title{
    grid-row-start: 1;
    grid-row-end: 2;
    line-height: 130px;
}

.weekly-table-1{
    grid-row-start: 2;
    grid-row-end: 3;
}

.monthly{
    display: grid;
    grid-template-rows: 80px 400px 450px;
    background-color: rgb(219, 240, 203);
    padding: 0 13px 0 13px;
}

.monthly-title{
    grid-row-start: 1;
    grid-row-end: 2;
    line-height: 130px;
}

.monthly-temperature{
    grid-row-start: 2;
    grid-row-end: 3;
}

.monthly-temperature-table{
    display: flex;
    align-items: center;
    justify-content: center;
}

.monthly-water{
    grid-row-start: 3;
    grid-row-end: 4;
}

.monthly-water-table{
    display: flex;
    align-items: center;
    justify-content: center;
}

.monthly h5{
    padding-left: 20%;
}

.login-form-container{
    height: 420px;
    padding-left: 20px;
}

.login-form-container form{
    padding-top: 40px;
}

.registration-form-container{
    height: 470px;
}

.registration-complete-container{
    height: 420px;
}

.activation-complete-container{
    height: 420px;
}

/* Desktop view: */
@media (min-width: 500px) {
    body{
        background-color: aliceblue;
    }

    .current-reading{
        padding: 18% 0px 0px 40%;
        background-color: rgb(202, 158, 173);
    }
}
