/* Mobile-view first */

body{
    background-color: pink;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    /* CSS Grid: */
    display: grid;
    grid-template-rows: 50px;
}

/* Top nav bar */

nav{
    overflow: hidden;
}

nav li{
    float: right;
    color: #f2f2f2;
    padding: 13px 13px 0px 10px;
    font-size: 15px;
    font-family: 'Indie Flower', cursive;
}

nav li:hover{
    background-color: #ddd;
    padding: 4px 4px 4px 4px;
    font-size: 17px;
    border-radius: 5px;
}

/* Grid: Header (i.e. Nav) */
header{
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(221, 221, 157);
}

.welcome{
    background-color: rgb(131, 163, 131);
}

.current-reading{
    height: 300px;
    padding: 65px 0px 0px 30px;
    background-color: rgb(71, 121, 71);
}

.weekly{
    display: grid;
    grid-template-rows: 130px 400px;
}

.weekly-title{
    grid-row-start: 1;
    grid-row-end: 2;
    line-height: 130px;
}

.weekly-table-1{
    grid-row-start: 2;
    grid-row-end: 3;
}

.monthly{
    display: grid;
    grid-template-rows: 130px 400px 450px;
}

.monthly-title{
    grid-row-start: 1;
    grid-row-end: 2;
    line-height: 130px;
}

.monthly-temperature{
    grid-row-start: 2;
    grid-row-end: 3;
}

.monthly-water{
    grid-row-start: 3;
    grid-row-end: 4;
}

.login-form-container{
    height: 420px;
}

.login-form-container form{
    padding-top: 40px;
}

.registration-complete-container{
    height: 420px;
}

.activation-complete-container{
    height: 420px;
}

/* Welcome Msg: */
h2{
    text-align: center;
    padding: 20px 0px 30px 0px;
    font-family: 'Permanent Marker', cursive;
}

/* Weely Trend: */
h3{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    vertical-align: middle;
}

/* Current Reading: */
h4{
    font-family: 'Indie Flower', cursive;
    padding-top: 12px;
}

h5{
    font-family: 'Indie Flower', cursive;
    padding-top: 20px;
    padding-bottom: 20px;
}

h6{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

p{
    font-family: 'Indie Flower', cursive;
    padding-top: 12px;
}

li, input{
    font-family: 'Indie Flower', cursive;
    padding-top: 12px;
}

table{
    border: 1px solid black;
}

th, td{
    border: 1px solid black;
    width: 120px;
    height: 25px;
    vertical-align: middle;
}

/* Desktop view: */
@media (min-width: 500px) {
    body{
        background-color: aliceblue;
    }

    .current-reading{
        padding: 18% 0px 0px 40%;
        background-color: palevioletred;
    }
}





















