{% extends 'generic/base.html' %}

{% block title %}Monthly{% endblock %}

{% block content %}

<h3>Monthly Trend</h3>
<div>
  <h4>This will be made into a graph...</h4>

</div>

<div>
  <h3> Temperature </h3>

  {{ the_div_temperature|safe }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.2/bokeh.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.2/bokeh.min.js"></script>
  {{ the_script_temperature|safe }}

</div>

<div>
  <h3> WaterLevel </h3>

  {{ the_div_water|safe }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.2/bokeh.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.2/bokeh.min.js"></script>
  {{ the_script_water|safe }}

</div>











{% endblock content %}
