{% extends 'generic/base.html' %}

{% block title %}Weekly{% endblock %}

{% block content %}

<h3>Weekly Trend</h3>
<div>

  <table>
    <tr>
      <th><h4> Date </h4></th>
      {% for temperature in temperatures %}
        <th><h4>{{ temperature.date_added }}</h4></th>
      {% endfor %}
    </tr>
    <tr>
      <th> <h4>Temp (F°) </h4></th>
      {% for temperature in temperatures %}
        <th><h4>{{ temperature.temperature }}</h4></th>
      {% endfor %}
    </tr>

    <tr>
      <th><h4> Date </h4></th>
      {% for result in waterlevel %}
        <th><h4>{{ result.time_stamp }}</h4></th>
      {% endfor %}
    </tr>
    <tr>
      <th> <h4> Water Level </h4></th>
      {% for result in waterlevel %}
        <th><h4>{{ result.has_moisture }}</h4></th>
      {% endfor %}
    </tr>

  </table>
</div>


<div>
  <h3>Photo: </h3>

</div>










{% endblock content %}
